.homeTitle{
    text-align: center;
    color: rgb(24, 119, 242);
    font-weight: bolder;
    font-size: 50px;
    margin: 10px 0px;
}
.home{
    width: 400px;
    margin: 0px auto;
    padding: 10px ;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.home div{
    margin: 10px 0px;
}
.home input{
    border-radius: 6px;
    font-size: 18px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid #dddfe2;
}